#header-old {
  z-index: 2;
  background-color: #f1f1f1; /* Grey background */
  padding: 50px 10px; /* Some padding */
  color: black;
  text-align: center; /* Centered text */
  font-size: 90px; /* Big font size */
  font-weight: bold;
  position: fixed; /* Fixed position - sit on top of the page */
  top: 0;
  width: 100%; /* Full width */
  transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  z-index: 2;
  height: 120px;

  border-bottom: 3px solid #e1e1e1;
  background-color: #f1f1f1;
  color: black;
  text-align: center;
}


#after-header {
  margin-top: 100px;
}

.footer {
  border-top: 1px solid #e1e1e1;
  background-color: #f1f1f1;
  color: black;
  text-align: center;
}

.carousel {
  width: 100%;
}
.carousel-item {
  max-height: 800px;
}

.parallax {
  background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ceaf-underline {
  text-decoration: underline solid red;
}

.ceaf-overunderline {
  text-decoration: underline overline solid red;
}