body {
  --font-size: 30px;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  z-index: 2;
  height: 9vmin;

  border-bottom: 3px solid #e1e1e1;
  background-color: #f1f1f1;
  color: black;
}

#logo {
  width: auto;
  height: inherit;
  float: left;
  margin-left: 1vmin;
  margin-top: 1vmin;
  max-height: 8vmin;
}

#menu {
  padding-top: 2vmin;
}

#menu span {
  font-size: 3vmin;
  padding-right: 5vmin;
}

#menu span:hover {
  text-decoration: underline;
}

#after-header {
  margin-top: 9vmin;
}

.footer {
  height: 100px;
  border-top: 1px solid #e1e1e1;
  background-color: #f1f1f1;
  color: black;
  text-align: center;
}

/*
 * carrusel styles
 */
 .carousel {
  width: 100%;
}
.carousel-item {
  max-height: 800px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 10vmin;
  height: 20vmin;
  border-radius: 5vmin;
  border: 1vmin solid rgba(0, 0, 0, 0);
}
.carousel-control-next-icon:hover {
  border: 0;
}
.carousel-control-prev-icon:hover {
  border: 0;
}

.parallax {
  width:100%;
  background-image: url("../imagenes/219165.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

